<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="/vendor/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/vendor/underscore/underscore-min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
	<script type="text/javascript" src="/static/app.js"></script>
</head>
<body>
<hr>
<p id="now"><p>
<hr>
<form id="search">
	<label>Player Name
		<input placeholder="player name" id="name"/>
	</label>
	<label>Hero ID
		<input type="number" id="hero"/>
	</label>
	<label>Skill Level
		<input type="number" min="0" max="3" step="1" id="skill"/>
	</label>
	<input type="submit">
</form>
<ol id="matchesPlaceholder"></ol>
<script type="text/template" id="matchesTemplate">
	<li>Match #: <%=match_id%> --- Start Time: <%=moment.unix(start_time, "YYYY-MM-DD HH:mm").format("dddd, MMMM Do YYYY, h:mm:ss a")%></li>
</script>

</body>
</html>